.wrapper {
    position: relative;
    height: 400px;
}

.sub {
    z-index: 1;
}

.error {
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #b61a1a;
    text-align: center;
    vertical-align: middle;
    z-index: 100;
}

.wait{
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
  background-position: center-top;
  background-size: cover;
    margin: -15px 0 0 -15px;
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-animation: rotation 2s infinite linear;
    background-image: url(./refresh.png);
    /* animation: rotation 2s infinite linear; */
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}
/* @keyframes rotation {
    from {
            -transform: rotate(0deg);
    }
    to {
            -transform: rotate(359deg);
    }
} */

.red {
    background-color: #00000028;
    z-index: 10;
}

.floating {
    position: absolute;
    width: 100%;
    height: 100%;
}